<!--
<p>Meu nome é {{nome}} e tenho {{idade}}</p>
<p>O dado é: {{lancarDado()}}</p>

<div class="container m-3 border p-3">
    <form>
        <div class="form-group">
            <label for="nomeInput">Formulário</label>
            <input type="nome" class="form-control" id="nomeInput" placeholder="Digite um nome" #nomeInput>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="adicionar(nomeInput)">Adicionar</button>
        <div class="alert alert-primary mt-3 p-3"[hidden]="esconderCaixa">{{nome}}</div>
    </form>
</div>
-->

<div class="container my-3 border p-3">
    <form>
        <div class="form-group">
            <label for="numeroInput">Escolha um número</label>
            <input type="numero" [(ngModel)]="numero" class="form-control" id="numeroInput"
                placeholder="Escolha um número" #nomeInput>
            <div class="alert alert-primary mt-3 p-3 text-center">{{numero}}</div>
        </div>
        <button type="button" (click)="escolher()" class="btn btn-primary btn-block">Escolher para mim</button>
    </form>
    <!-- começo da apostila 3 -->
    <label for="produtoInput">Produto</label>
    <input type="text" class="form-control" id="produtoInput" [(ngModel)]="produto" #produtoInput>
    <button type="button" class="btn btn-primary btn-block" (click)="alterarProduto(produtoInput)">
        Alterar produto
    </button>
</div>

<router-outlet></router-outlet>